client/
ethos/
linux/
*.goo.*
server
typeDefs.go
typeDefs/
typeDefsIndex/
braidsAuthTypes.go
braidsAuthTypes/
braidsAuthTypesIndex/
braidsBrokerTypes/
braidsBrokerTypesIndex/
client1
braidsAuth
log
serverLog
clientLog
